@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* --background: hsl(0, 0%, 100%); */
  /* --foreground: #252525; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4C535C

    ;
    /* --foreground: #ffffff; */
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}